*.py[cod]
test/testconfig/cache
test/test_cache
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.idea
*.iml
out

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
